body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
.fa-star {
  margin: 0.5em;
  font-size: 24px;
}

span{
  display: inline-block;
  margin: 0.5em;
  text-align: center;
  background-color: #ccc;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

span.selected{
  background-color: #eee;
  color: #ddd;
  cursor: not-allowed;
}

span.used{
  background-color: #aaddaa;
  color: #99bb99;
  cursor: not-allowed;
}
